<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="API Test Automation Suite" guice-stage="DEVELOPMENT">

  <test thread-count="5" name="API Testing Automation" verbose="2">
  
  
    <classes>
      <class name="com.qa.testcases.GetApiTest"/>
    </classes>
    
    
  </test> <!-- API Testing Automation -->
  
</suite> <!-- API Test Automation Suite -->